<div class="divider"></div>
<footer class="page-footer">
  <div class="container">
    <div class="row">
      {%include 'main_app/footercontact.html'%}
    </div>  
  </div>

  <div class="divider"></div>  

  <div class="container">
    <div class="row">
      {%include 'main_app/footerlink.html'%}
    </div>
  </div>
 
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        {%include 'main_app/footercopyright.html'%}
      </div>
    </div>
  </div>
</footer>