
<div class="row">
      {%include 'main_app/carousel.html'%}
</div>

<div class="row">
{%for i in range(1,16)%}
  <div class="col s12 m6 l3">
    <div class="card">
    <div class="card-image">
      <img src="{{ url_for('main_app.static',filename='images/parallax.jpg') }}">


      <span class="card-title">Card Title</span>
      
    </div>
    <div class="card-content">
      <div class="row">
        <div class="center-align">
     <a class="waves-effect waves-light btn-large col s6">Add to Cart</a>
     <a class="waves-effect waves-light btn-large black-text yellow accent-2 col s6">Wishlist</a>
     </div>
     </div>
      <div class="divider">
        
      </div>
     <div class="row">
      <div class="price">
       <span class="prev-price">RS : 1800</span>
       <span class="standard-price">RS : 1700 </span>
        <span class="discount-percentage">(10% OFF)</span>
      </div>

    </div>
    </div>
    </div>
  </div>

 {% endfor %}
</div>

