
<nav class="red darken-1">
	<div class="nav-wrapper red darken-1">
		<div class="container">
			<div class="row">
				<div class="col s12 m1 l1">
					<ul class="left">
						<li>
				      		<a href="#" class="brand-logo">Arham</a>
				    	</li>
					</ul>
				</div>
				<div class="col s12 m5 l5">
				   <form>
				        <div class="input-field">
				          <input id="search" type="search" required>
				          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
				          <i class="material-icons">close</i>
				        </div>
				      </form>
				</div>
				<div class="col s12 m1 l1">
					<ul class="left">
						<a href="#" data-target="mobile-demo1" class="sidenav-trigger"><i class="material-icons">apps</i></a>
					</ul>
					<ul class="right">	
					    	<li><a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="large material-icons">menu</i></a></li>
					</ul>
				</div>
				<div  class="col s12 m5 l5">
					<div class="hide-on-med-and-down">
						<ul id="nav-mobile" class="right">
				        	<li class="hide-on-med-and-down"><a href="">Sign Up</a></li>
				        	<li><a href="">Login</a></li>
						</ul>
			        </div>
			        <ul class="right">
							<li><a href="#"><i class="material-icons">shopping_cart</i></a></li>
					</ul>
				</div>
				</div>
			</div>
		</div>
	</div>

</nav>





   
{# Grey nav bar #}
<nav class="grey lighten-5 hide-on-med-and-down">bb
	<div class="nav-wrapper">
		<div class="container">
			<ul class="left">
				<li><a href="" class="red-text text-darken-1">Fashion</a></li>
				<li><a href="" class="red-text text-darken-1">Jewellery</a></li>
				<li><a href="" class="red-text text-darken-1">Footwear</a></li> 
			</ul>
		</div>
	</div>
 </nav>

 <ul class="sidenav" id="mobile-demo">
	<li><a href="">Login</a></li>
	<li><a href="">Sign Up</a></li>
    <!-- <<li><a href=""><i class="fas fa-shopping-cart fa-2x"></i></a></li> -->
 </ul>


 <ul class="sidenav" id="mobile-demo1">
		<li><a href="sass.html" class="red-text text-darken-1">Fashion</a></li>
		<li><a href="" class="red-text text-darken-1">Jewellery</a></li>
		<li><a href="" class="red-text text-darken-1">Footwear</a></li> 
    <!-- <<li><a href=""><i class="fas fa-shopping-cart fa-2x"></i></a></li> -->
 </ul>


<!-- <div>
	<ul id="dropdown1" class="dropdown-content">
	<li><a href="">Your Profile</a></li>
	<li><a href="">Your addresses</a></li>
	<li><a href="">Change Password</a></li>
	<li><a href="">Wish list</a></li>
	<li><a href="">Add Menu</a></li>
	<li><a href="">Admin</a></li>
	<li><a href="#!">Your Orders</a></li>
	</ul>
</div> -->